.card-table-view {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease-in-out;
    cursor: pointer;
    width: 250px;
    margin: 10px;
    height: 350px; /* Set a fixed height for all cards */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden; /* Prevent text from overflowing outside the card */
}

.card img {
    width: 100%;
    max-height: 150px;
    object-fit: cover;
    border-radius: 8px;
    margin-bottom: 12px;
}

.card h3 {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
    color: #333;
}

.card p {
    font-size: 16px;
    color: #666;
    line-height: 1.4;
    margin-bottom: 12px;
    flex: 1; /* Make the description take the available space */
    max-height: 100px; /* Set a maximum height for the description */
    overflow: hidden; /* Hide any content that exceeds the maximum height */
}

.card-button {
    background-color: #007bff;
    color: #fff;
    padding: 8px 12px;
    border-radius: 4px;
    text-decoration: none;
    font-size: 14px;
    text-align: center;
    transition: background-color 0.2s ease-in-out;
}

.card-button:hover {
    background-color: #0056b3;
}
